<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movieflix</title>
</head>

<body>
<form action="/myForm" method= "post">
    <textarea 
    type = "text" 
    name = "movies" 
    placeholder = "Movies separated by comma">
    ></textarea>
    <br />
    <input type = "submit" value = "submit"/>
</form>
</body>

</html>